@model CodeYoDAL.ViewModels.TeacherViewModel;

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <th>Personal Phone Number</th>
                <td>@Model.PersonalPhoneNumber</td>
            </tr>
            <tr>
                <th>Business Phone Number</th>
                <td>@Model.BusinessPhoneNumber</td>
            </tr>
            <tr>
                <th>Subject Name</th>
                <td>@Model.SubjectName</td>
            </tr>
            <tr>
                <th>Students Count</th>
                <td>@Model.StudentsCount</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Modification Date</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>Modified By</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>