@model CodeYoDAL.ViewModels.StudentsViewModel;

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Ar Name</th>
                <td>@Model.ArName</td>
            </tr>
            <tr>
                <th>En Name</th>
                <td>@Model.EnName</td>
            </tr>
            <tr>
                <th>SerialNumber</th>
                <td>@Model.SerialNumber</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>@Model.Password</td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Modification Date</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>Modified By</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12 text-center"><b class="text-center">Student Teacher</b></div>
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Teacher Name</th>
                    <th>Teacher Subject</th>
                    <th>Business Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model.StudentTeachers)
                {
                    <tr>
                        <td>
                            @teacher.FullName
                        </td>
                        <td>
                            @teacher.SubjectName
                        </td>
                        <td>
                            @teacher.BusinessPhoneNumber
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>