@using Microsoft.AspNetCore.Identity
@using CodeYoDAL.DALHelpers;
@inject SignInManager<ApplicationUser> SignInManager

<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="@MainMenu.Home.Path" class="logo d-flex align-items-center">
                    <span class="sitename">@StaticData.ProjectName</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Suez - Suez</p>
                    <p>Egypt</p>
                    <p class="mt-3"><strong>Phone:</strong> <span>+20 12 01753174</span></p>
                    <p><strong>Email:</strong> <span>info@mail.com</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                @if (SignInManager.IsSignedIn(User))
                {
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="@MainMenu.Home.Path">@MainMenu.Home.PageName</a></li>
                        @if (User.IsInRole(ApplicationRoles.Teachers) || User.IsInRole(ApplicationRoles.SuperAdmin))
                        {
                            <li><a href="@MainMenu.Teachers.Path">@MainMenu.Teachers.PageName</a></li>
                        }
                        @if (User.IsInRole(ApplicationRoles.Students) || User.IsInRole(ApplicationRoles.SuperAdmin))
                        {
                            <li><a href="@MainMenu.Students.Path">@MainMenu.Students.PageName</a></li>
                        }
                    </ul>
                }
                
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Data Upload</a></li>
                    <li><a href="#">Data Analyze</a></li>
                    <li><a href="#">Cards Generator</a></li>
                    @* <li><a href="#">Graphic Design</a></li> *@
                </ul>
            </div>

            <div class="col-lg-4 col-md-12 footer-newsletter">
                <h4>E-Mail</h4>
                <p>Send us your e-mail & Subscribe!</p>
                <form>
                    <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                </form>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">@StaticData.ProjectName</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            Designed by <a href="#">Fady B. Rezk</a>
        </div>
    </div>

</footer>